{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Document</title>

</head>

<body>
    <div class="main-div">
        <div class="tabs">
            <div class="tab encryption active"><h2>Encryption</h2></div>
            <div class="tab decryption"><h2>Decryption</h2></div>
        </div>

        <div class="form-div current" data-form="Encryption">
        <h1>Encryption</h1>
        
        <form method="POST" action="encryption">
            {% csrf_token %}
            <div class="input">
                <label for="plaintext">Enter Plain text </label>
                <input type="text" id="plaintext" name="plaintext">
            </div>

            <div class="input">
                <label for="password">Enter password </label>
                <input type="password" id="password"name="password">
            </div>
            
            <div class="form-submit">
                <input type="submit" value="encryption">
            </div>
            <div class="success">
                <h2>Encrypted Data -> {{fi}}{{ xo }}{{ pn }}</h2><br>
                <h2>Segmentation Key -> {{ key }}</h2>
            </div>

            </form>
            
    </div>

        <div class="form-div" data-form="Decryption">
        
            <h1>Decryption</h1>
        
            <form method="POST"action="decryption">
                {% csrf_token %}
            <div class="input">
                <label for="decryptiontext">Enter Encrypted text </label>
                <input type="text" id="decryptiontext" name="ctext">
            </div>

            <div class="input">
                <label for="password">Enter password </label>
                <input type="password" id="password" name="password">
            </div>

            <div class="input">
                <label for="key">Enter key </label>
                <input type="number" id="key" name="key">
            </div>
            
            <div class="form-submit">
                <input type="submit" value="decryption">
            </div>
            <div class="success">
                <h2>Decrypted data -> &nbsp;{{ dfib }}{{ dxor }}{{ dpn }}</h2><br>
            </div>

        </form>
    </div>

</div>

<script src={% static 'main.js' %}></script>

</body>
</html>